:root {
    --body-background: rgb(228, 250, 204);
    --body-color: black;
    --link-color: navy;
  }
  
  [data-theme="dark"] {
    --body-background: #000000;
    --body-color: white;
    --link-color: cyan;
  }
  
  body {
    background-color: var(--body-background);
    color: var(--body-color);
  }
  
  a {
    color: var(--link-color);
  }
  